*.gcda
*.gcno
*.gmo
*.la
*.lo
*.o
*.omf
*.swp
*.tar.xz
*_vala.stamp
.deps
.dirstamp
.libs
Makefile
Makefile.in*
/autom4te.cache/
/build-aux/
/cheese-lcov/
/cheese-lcov.info
/data/cheese-gtk.pc
/data/cheese.pc
/data/org.gnome.Cheese.appdata.xml
/data/org.gnome.Cheese.appdata.valid
/data/org.gnome.Cheese.desktop
/data/org.gnome.Cheese.desktop.in
/data/org.gnome.Cheese.gschema.valid
/data/org.gnome.Cheese.service
/docs/reference/html/
/docs/reference/xml/
/docs/reference/*.stamp
/docs/reference/cheese.1
/docs/reference/cheese.args
/docs/reference/cheese.hierarchy
/docs/reference/cheese.interfaces
/docs/reference/cheese.prerequisites
/docs/reference/cheese.signals
/docs/reference/cheese-decl-list.txt
/docs/reference/cheese-decl.txt
/docs/reference/cheese-overrides.txt
/docs/reference/cheese-undeclared.txt
/docs/reference/cheese-undocumented.txt
/docs/reference/cheese-unused.txt
/docs/reference/version.xml
/help/*/*.mo
/help/*/*.page
/help/*/*.stamp
/help/*/legal.xml
!/help/C
/libcheese/cheese-enums.*
/m4/
/po/*.mo
/po/.intltool-merge-cache
/po/POTFILES
/po/cheese.pot
/po/stamp-it
/src/*.c
/src/cheese-resource.h
/????-report.html
/????-report.xml
/tests/cheese-test-widget
/tests/cheese-test-monitor
/tests/cheese-test-chooser
/tests/cheese-test-camera
/tests/cheese-test-flash
/tests/test-libcheese
/tests/test-libcheese-gtk
/tests/test-webcam-button
/aclocal.m4
/Cheese-*.gir
/Cheese-*.typelib
/cheese
/cheese-config.h*
/config.*
/configure
/gtk-doc.make
/INSTALL
/intltool*.in
/libtool
/stamp-h1
