*.o
*.desktop
*.desktop.in
*.gmo
*.omf
Makefile
Makefile.in*
stamp-it
POTFILES
cheese-dbus-infos.h
xmldocs.make
src/cheese
.deps
install-sh
libtool
omf-make
*.mo
gnome-doc-utils.make
intltool*.in
missing
ltmain.sh
stamp-h1
.intltool-merge-cache
missing
mkinstalldirs
depcomp
data/cheese.schemas
data/org.gnome.Cheese.service
configure
aclocal.m4
autom4te.cache
cheese-config.h*
config.*
omf.make
help/*/cheese.xml
!help/C/cheese.xml
.lock-wscript
.waf-*
_build_
