[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=cheese
Comment=A cheesy program to take photos from your webcam
Exec=cheese
StartupNotify=true
Type=Application
Categories=Application;Utility
