[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cheese
Comment=A cheesy program to take photos from your webcam
Exec=cheese
Icon=cheese
StartupNotify=true
Type=Application
Categories=GTK;Application;Utility
